<!DOCTYPE html>
<html lang="en">
  <head>
   <% include partials/head %>
  </head>
  <body class="container">
    <header>
        <% include partials/header %>
    </header>
    <main>
    <div class="container">
      <p >This is a website that serves as a 'sandbox' for me to mess around in NodeJS and try new things. Let me know what you think about it!</p>
    </div>
    </main>
    <footer>
        <% include partials/footer %>
    </footer>
  </body>
</html>